body{

    background: url(/css/img.jpg);
    /* background-color: palegoldenrod;
    display: center;
    align-items: center; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    backdrop-filter: none;
    height: 100vh;
    width: 100vw;
}

.loginbox {
    width: 310px;
    height: 390px;
    /* background: transparent */
    background: rgb(184, 166, 159);
    color: black;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
}

.loginBtn {

    background-color: #3a31159a;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.daily{
    width: 470px;
    height: 270px;
    /* background: transparent */
    background: rgb(184, 166, 159);
    color: black;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
}

.success_holder{
    color: rgb(26, 100, 24);
    font-size: 20px;
    font-weight: bold;
}

.btn{
    background-color: #50441c9a;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn1{
    background-color: #211c509a;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
}

.loginboxx{
    width: 790px;
    height: 450px;
    /* background: transparent */
    background: rgb(184, 166, 159);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
}

.useExpense{
    border: 1;
    /* border: 1px solid black; */
}


.loginbox a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: black;
}
table{

    border-collapse: collapse;
}